<div class="body">
    <input type="text" id="idriver" style="display:none;" value="@ViewBag.Driver.FullName" />
    <p><h3>Assigne for @ViewBag.FullName</h3></p>
    <div class="orderMobile">
        <div class="content">

        </div>
        <div class="content">

        </div>
    </div>
    <div class="filling">
        <table class="tegTable" id="table">
            <tr>
                <th>Name Customer</th>
                <th>Price</th>
                <th>Miless</th>
                <th>Pickup time</th>
                <th>Phone</th>
                <th>From Address</th>
                <th>To Address</th>
                <th>Control</th>
            </tr>
        </table>
    </div>
</div>
<script>
    function InitOrder() {
        let order;
        let xhr = new XMLHttpRequest();
        let body = "idDriver=@ViewBag.Driver.ID";
        xhr.open('POST', '@ViewBag.BaseUrl/Dashbord/Orders/Init', true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.send(body);
        xhr.onreadystatechange = function () {
            if (xhr.readyState != 4) return;
            if (xhr.status == 200) {
                order = JSON.parse(xhr.responseText);
                for (let i = 0; i < order.length; i++)
                {
                    let tr = document.createElement("tr");
                    tr.id = order[i].ID;
                    let td = document.createElement("td");
                    td.className = "orderTd orderTdBorderStart";
                    let span = document.createElement("span");
                    span.textContent = order[i].NameCustomer;
                    td.appendChild(span);
                    tr.appendChild(td);

                    td = document.createElement("td");
                    td.className = "orderTd orderTdBorderSrandart";
                    span = document.createElement("span");
                    span.textContent = order[i].Price;
                    td.appendChild(span);
                    tr.appendChild(td);

                    td = document.createElement("td");
                    td.className = "orderTd orderTdBorderSrandart";
                    span = document.createElement("span");
                    span.textContent = order[i].Milisse;
                    td.appendChild(span);
                    tr.appendChild(td);

                    td = document.createElement("td");
                    td.className = "orderTd orderTdBorderSrandart";
                    span = document.createElement("span");
                    span.textContent = order[i].Date + " " + order[i].TimeOfPickup;
                    td.appendChild(span);
                    tr.appendChild(td);

                    td = document.createElement("td");
                    td.className = "orderTd orderTdBorderSrandart";
                    span = document.createElement("span");
                    span.textContent = order[i].Phone;
                    td.appendChild(span);
                    tr.appendChild(td);

                    td = document.createElement("td");
                    td.className = "orderTd orderTdBorderSrandart";
                    span = document.createElement("span");
                    span.textContent = order[i].FromAddress;
                    td.appendChild(span);
                    tr.appendChild(td);

                    td = document.createElement("td");
                    td.className = "orderTd orderTdBorderSrandart";
                    span = document.createElement("span");
                    span.textContent = order[i].ToAddress;
                    td.appendChild(span);
                    tr.appendChild(td);

                    td = document.createElement("td");
                    td.className = "orderTd orderTdBorderEnd";
                    let btn = document.createElement("button");
                    btn.textContent = "add";
                    btn.onclick = AddOrder;
                    td.appendChild(btn);
                    tr.appendChild(td);

                    table.appendChild(tr);
                }
            } 
        }
    }

    function AddOrder() {

    }

    InitOrder();
</script>
<style>
    * {
        margin: 0px;
    }

    .body {
        margin: 20px;
    }

    .orderMobile {
        display: flex;
        justify-content: space-between;
    }

    .content {
        width: 45%;
        margin: 5px;
        height: 200px;
        border-width :1px;
        border-color: black;
        border-style: solid;
    }

    .filling {
        width: 100%;
        height: 100px;
        border-top: solid;
        border-width: 1px;
        border-color: rgba(51, 51, 51, 0.3);
    }

    .tegTable {
        width:98%;
        border-collapse: collapse;
    }

    .orderTd {
        height: 30px;
        vertical-align: central; 
        text-align: center; 
        height: 40px; 
        padding: 2px;
    }

    .orderTdBorderEnd {
        border-left: 1px solid rgba(172, 172, 172, 0.45);
        border-top: 1px solid rgba(172, 172, 172, 0.45);
        border-bottom: 1px solid rgba(172, 172, 172, 0.45);
    }
    
    .orderTdBorderStart {
        border-right: 1px solid rgba(172, 172, 172, 0.45);
        border-top: 1px solid rgba(172, 172, 172, 0.45);
        border-bottom: 1px solid rgba(172, 172, 172, 0.45);
    }

    .orderTdBorderSrandart {
        border: 1px solid rgba(172, 172, 172, 0.45);
    }

    tr:nth-child(odd) { background-color: rgba(181, 181, 181, 0.28); }
</style>